.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .content {
    margin: 0 auto;
    .logo {
      padding: 64px 0 25px;
      text-align: center;
    }
    .signInContainer {
      background-color: #fff;
    }
  }
  .signInOptionsWrapper {
    width: 650px;
    padding: 25px 20px 15px;
    display: flex;
    .signInOptionsLeft {
      width: 305px;
      text-align: center;
      padding: 20px 0;
      border-bottom: 2px solid #0770cf;
      a {
        position: relative;
        font-weight: 700;
        font-size: 16px;
        text-decoration: none;
        color: black;
        letter-spacing: 2px;
        &::after {
          content: "";
          position: absolute;
          height: 25px;
          width: 2px;
          right: -131px;
          background: #2d2d2d;
          opacity: 0.1;
        }
      }
    }
    .signInOptionsRight {
      width: 305px;
      text-align: center;
      padding: 20px 0;
      border-bottom: 2px solid rgba(118, 118, 118, 0.1);
      a {
        font-weight: 700;
        font-size: 16px;
        text-decoration: none;
        color: #767676;
        letter-spacing: 2px;
        &:hover{
            opacity: 0.64;
        }
      }
    }
  }
  .loginForm {
    padding: 0 40px;
    margin-top: 15px;
    .formGroup {
      display: flex;
      position: relative;
      flex-direction: column;
      padding: 0 105px;
      margin-bottom: 20px;
      label {
        font-weight: 700;
        margin-bottom: 10px;
        letter-spacing: 2px;
        color: #767676;
      }
      input {
        padding: 10px 30px 10px 12px;
        outline: none;
        border: 2px solid #767676;
      }
      .visibility{
        position: absolute;
      top: 40px;
      right: 112px;
      }
    }
    .formSubmit {
      display: flex;
      flex-direction: column;
      padding: 0 105px 20px;
      margin-bottom: 20px;
      button {
        padding: 10px 12px;
        background-color: gray;
        outline: none;
        font-weight: 700;
        letter-spacing: 2px;
        border: none;
        color: #fff;
        &:hover {
          background-color: rgba(128, 128, 128, 0.6);
        }
      }
    }
    
  }
  .infoCentre {
    padding: 0px 25px 10px;
    margin-bottom: 30px;
    .subtitle {
      text-align: center;
      margin: 40px 0;
      font-weight: 800;
      font-size: 20px;
      letter-spacing: 2px;
    }
    .options {
      padding: 0 10px;
      margin: 10px 0;
  
      .socialLinks {
        ul {
          list-style: none;
          display: flex;
          justify-content: space-around;
          li {
            padding: 20px;
            border: 1px solid #ddd;
            &:hover {
              opacity: 0.64;
            }
            a {
              text-decoration: none;
              color: #000;
              display: flex;
              span {
                font-weight: 700;
                margin: auto 0 auto 16px;
              }
            }
          }
        }
      }
      .twitter {
        margin-top: 22px;
        text-align: center;
        
        p {
            width: 600px;
            line-height: 1.5;
            font-size: 14px;
          color: #000;
          font-weight: 400;
        }
      }
    }
  }
  .errorEmail {
    position: absolute;
      padding: 5px;
      background-color: #fae7ec;
      border: 2px solid #ce1948;
      font-weight: 400;
      max-width: 260px;
      width: 80%;
      right: 110px;
      top: -30px;
      &::before{
        content: "";
      position: absolute;
      border-width: 16px;
      border-style: solid;
      border-color: #fae7ec transparent transparent transparent;
      top: 53px;
      left: 24px;
      z-index: 2;
      }
      &::after{
        content: "";
      position: absolute;
      border-width: 16px;
      border-style: solid;
      border-color: #ce1948 transparent transparent transparent;
      top: 56px;
      left: 24px;
      }
  }
  .errorPassword{
    position: absolute;
    padding: 5px;
    background-color: #fae7ec;
    border: 2px solid #ce1948;
    font-weight: 400;
    max-width: 260px;
    width: 80%;
    right: 110px;
    top: -8px;
    &::before{
      content: "";
    position: absolute;
    border-width: 16px;
    border-style: solid;
    border-color: #fae7ec transparent transparent transparent;
    top: 32px;
    left: 24px;
    z-index: 2;
    }
    &::after{
      content: "";
      position: absolute;
      border-width: 17px;
      border-style: solid;
      border-color: #ce1948 transparent transparent transparent;
      top: 34px;
      left: 23px;
    }
  }
  .errorFirstName {
    position: absolute;
      padding: 5px;
      background-color: #fae7ec;
      border: 2px solid #ce1948;
      font-weight: 400;
      max-width: 260px;
      width: 80%;
      right: 110px;
      top: -30px;
      &::before{
        content: "";
      position: absolute;
      border-width: 16px;
      border-style: solid;
      border-color: #fae7ec transparent transparent transparent;
      top: 53px;
      left: 24px;
      z-index: 2;
      }
      &::after{
        content: "";
      position: absolute;
      border-width: 16px;
      border-style: solid;
      border-color: #ce1948 transparent transparent transparent;
      top: 56px;
      left: 24px;
      }
  }
  .errorLastName {
    position: absolute;
      padding: 5px;
      background-color: #fae7ec;
      border: 2px solid #ce1948;
      font-weight: 400;
      max-width: 260px;
      width: 80%;
      right: 110px;
      top: -8px;
      &::before{
        content: "";
      position: absolute;
      border-width: 16px;
      border-style: solid;
      border-color: #fae7ec transparent transparent transparent;
      top: 32px;
      left: 24px;
      z-index: 2;
      }
      &::after{
        content: "";
        position: absolute;
        border-width: 18px;
        border-style: solid;
        border-color: #ce1948 transparent transparent transparent;
        top: 33px;
        left: 22px;
      }
  }
  