.categoryBanner {
  padding-top: 20px;
  text-align: center;
  h1 {
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 900;
    padding-bottom: 16px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    max-width: 1000px;
  }
}
